html {
    box-sizing: border-box;
}

*, ::after ::before {
    box-sizing: inherit;
}

body {
    display: block;
}

.container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 750px;
    max-width: 100%;
    margin: 100px auto;
    background-color: #eeeeee;
    font-family: "Noto Sans", sans-serif;
}

.main {
    margin: 0 15px 0 15px;
}

.main__header {
    padding: 5px;
}

.section__top {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    justify-content: space-around;
}

@media (max-width: 750px) {
    .section__top {
        grid-template-columns: 1fr;
    }
}


.section__span--button {
    background: none;
    border: none;
    outline: none;
    color: hsl(180, 100%, 25%);
    font-size: 14px;
}

.section__span--button:hover {
    color: hsl(180, 100%, 35%);
    text-decoration: underline;
}
.section__span--button:disabled {
    color: #ccc;
    text-decoration: none !important;
}
