html {
    box-sizing: border-box;
}

*, ::after ::before {
    box-sizing: inherit;
}

body {
    display: block;
}

.container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 750px;
    max-width: 100%;
    margin: 100px auto;
    background-color: #eeeeee;
    font-family: "Noto Sans", sans-serif;
}

.flexContainer {
 margin: 0 15px 0 15px;
}

.flexContainer__header {
    padding: 5px;
}

.containerAdd {
    background: white;
}

.containerList {
    background: white;
    margin-top: 8px;
}

.containerAdd__header {
    padding: 15px;
    margin: 0px;
}

.containerList__header {
    padding: 15px;
    margin: 0px;
}

.form__inputField {
    width: 500px;
    max-width: 80%;
    margin: 10px 15px 10px 15px;
    height: 25px;
    border: 1px solid rgb(179, 174, 174);
    padding: 5px;

}
.form__button {
    width: 140px;
    max-width: 100%;
    margin: 10px 15px 10px 15px;
    height: 37px;
    background-color: hsl(180, 100%, 25%);
    color: white;
    border: none;
    display: inline-block;
}

.form__button:hover {
    background-color: hsl(180, 100%, 30%);
}

.form__button:active {
    background-color: hsl(180, 100%, 35%);
}

@media (max-width: 750px) {
    .form__button {
        width: 500px;
        max-width: 80%;
        margin: 10px 20px 10px 20px;
    }
    .form {
        text-align: center;
    }
}

.form {
    border-top: 2px solid #eee;
    max-width: 100%;
    width: 750px;
}

.gridContainer {
    border-top: 2px solid #eee;
    padding: 20px;
}

